@page "/"
@using WebDav.AudioPlayer.Client
@using WebDav.AudioPlayer.Models
@inherits IndexBase

<div class="row">
    <div class="col-4">
        <button class="btn btn-primary oi oi-reload" @onclick="Refresh"></button>

        @if (Status != ResourceLoadStatus.Ok)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <p>ResourceLoadStatus = @Status</p>

            <Tree ResourceItems="Root.ChildNodes"
                  SelectedNodeChanged="@(async item => await SelectedResourceItemChanged(item))"
                  LazyLoad="@(async item => { await LazyLoad(item); })">
                <TitleTemplate>@context.Item.DisplayName</TitleTemplate>
            </Tree>
        }
    </div>
    <div class="col-8">
        play/stop/pause/previous/next/current time/total time

        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Size</th>
                    <th>Length</th>
                    <th>Bitrate (kbps)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in PlayListItems)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Size</td>
                        <td>@item.Length</td>
                        <td>@item.Bitrate</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>